<!DOCTYPE html>
<html>
<head>

		<title>GH Calligraphy</title>
		<link rel="stylesheet" href="main.css">
		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
 
  <%= csrf_meta_tags %>
		<meta charset="UTF-8">
		
</head>

<body>
	<div class="header">
		<h1>GH Calligraphy</h1>
		<% if current_user %>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
		  <% else %>
		  <%= link_to('Sign In', new_user_session_path) %> |
		  <%= link_to('Register', new_user_registration_path) %>
		  <% end %>
	</div>
	<div class="container">
		<div id="nav">
			<ul>
				<li><a href="http://www.google.com">Home</a></li>
				<li><a href="http://www.google.com">Calligraphy</a></li>
				<li><a href="http://www.google.com">Grace Helmer</a></li>
			</ul>
		</div>
	</div>
	<div class="headerimage">
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  
  <% if alert %>
   <p class="alert"><%= alert %></p>
  <% end %>
  </div>
  <div class="container">
<%= yield %>
</div>
</body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Learn More
</button>

	<div id="footer">
		<ul>
			<li>email: gracebhelmer@gmail.com</li>
			<li>1100 Howell Mill Road Unit 411  Atlanta, Georgia 30318</li>
		</ul>
	</div>
</html>
